body {
    text-align: center;
    background-color: darkcyan;
}
.box {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #fff;
}
#box {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
}
.color {
    background-color: red;
}

input {
    margin: 50px 0 50px;
    outline: none;
    cursor: pointer;
}

div {
    cursor: pointer;
    border: 1px solid black;
}